# Import Libraries

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# Read data set and split into training set and validation set

In [0]:
data_x = pd.read_csv('x_train.csv')
data_y = pd.read_csv('y_train.csv')

In [0]:
data_x.head()

   FamilySize  Pclass_1  Pclass_2  ...  AgeBin_16  AgeBin_17  AgeBin_18
0           2         0         0  ...          0          0          0
1           2         1         0  ...          0          0          0
2           1         0         0  ...          0          0          0
3           2         1         0  ...          0          0          0
4           1         0         0  ...          0          0          0

[5 rows x 46 columns]

In [0]:
X_train, X_valid, y_train, y_valid = train_test_split(data_x, data_y, test_size=0.2, random_state=25)

In [0]:
X_train.head()

     FamilySize  Pclass_1  Pclass_2  ...  AgeBin_16  AgeBin_17  AgeBin_18
410           1         0         0  ...          0          0          0
638           6         0         0  ...          0          0          0
395           1         0         0  ...          0          0          0
221           1         0         1  ...          0          0          0
800           1         0         1  ...          0          0          0

[5 rows x 46 columns]

In [0]:
y_train['Survived'].value_counts()

0    437
1    275
Name: Survived, dtype: int64

In [0]:
y_valid['Survived'].value_counts()

0    112
1     67
Name: Survived, dtype: int64

The resultant Training and Validation sets after the split look like a true fit for the original data, so we will proceed with these sets

# Model Comparison (Validation Set)

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegressionCV
from xgboost import XGBClassifier

### Gaussian NB classifier

In [0]:
gnb_clf = GaussianNB()
gnb_clf.fit(X_train, y_train['Survived'])
gnb_prediction = gnb_clf.predict(X_valid)
print(classification_report(y_valid['Survived'], gnb_prediction))

0.7597765363128491
              precision    recall  f1-score   support

           0       0.78      0.86      0.82       112
           1       0.71      0.60      0.65        67

    accuracy                           0.76       179
   macro avg       0.75      0.73      0.73       179
weighted avg       0.76      0.76      0.75       179

### Support Vector Classifier

In [0]:
svc_clf = SVC(kernel='linear')
svc_clf.fit(X_train, y_train['Survived'])
svc_prediction = svc_clf.predict(X_valid)
print(classification_report(y_valid['Survived'], svc_prediction))

              precision    recall  f1-score   support

           0       0.85      0.85      0.85       112
           1       0.75      0.75      0.75        67

    accuracy                           0.81       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179

### Decision Tree Classifier

In [0]:
tree_clf = DecisionTreeClassifier(max_depth=5)
tree_clf.fit(X_train, y_train['Survived'])
tree_prediction = tree_clf.predict(X_valid)
print(classification_report(y_valid['Survived'], tree_prediction))

              precision    recall  f1-score   support

           0       0.84      0.85      0.84       112
           1       0.74      0.73      0.74        67

    accuracy                           0.80       179
   macro avg       0.79      0.79      0.79       179
weighted avg       0.80      0.80      0.80       179

### Random Forest Classifier

In [0]:
rf_clf = RandomForestClassifier(max_depth=7, n_estimators=12)
rf_clf.fit(X_train, y_train['Survived'])
rf_prediction = rf_clf.predict(X_valid)
print(classification_report(y_valid['Survived'], rf_prediction))

              precision    recall  f1-score   support

           0       0.84      0.88      0.86       112
           1       0.77      0.72      0.74        67

    accuracy                           0.82       179
   macro avg       0.81      0.80      0.80       179
weighted avg       0.81      0.82      0.81       179

### Adaboost Classifier

In [0]:
ada_clf = AdaBoostClassifier()
ada_clf.fit(X_train, y_train['Survived'])
ada_prediction = ada_clf.predict(X_valid)
print(classification_report(y_valid['Survived'], ada_prediction))

              precision    recall  f1-score   support

           0       0.83      0.83      0.83       112
           1       0.72      0.72      0.72        67

    accuracy                           0.79       179
   macro avg       0.77      0.77      0.77       179
weighted avg       0.79      0.79      0.79       179

### KNN Classifier

In [0]:
knn_clf = KNeighborsClassifier(7)
knn_clf.fit(X_train, y_train['Survived'])
knn_prediction = knn_clf.predict(X_valid)
print(classification_report(y_valid['Survived'], knn_prediction))

              precision    recall  f1-score   support

           0       0.81      0.90      0.86       112
           1       0.80      0.66      0.72        67

    accuracy                           0.81       179
   macro avg       0.81      0.78      0.79       179
weighted avg       0.81      0.81      0.81       179

### MLPC Classifier

In [0]:
mlpc_clf = MLPClassifier(alpha=1, max_iter=1000)
mlpc_clf.fit(X_train, y_train['Survived'])
mlpc_prediction = mlpc_clf.predict(X_valid)
print(classification_report(y_valid['Survived'], mlpc_prediction))

              precision    recall  f1-score   support

           0       0.85      0.85      0.85       112
           1       0.75      0.75      0.75        67

    accuracy                           0.81       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179

### Gaussian Process Classifier

In [0]:
gp_clf = GaussianProcessClassifier(1.0 * RBF(1.0))
gp_clf.fit(X_train, y_train['Survived'])
gp_prediction = gp_clf.predict(X_valid)
print(classification_report(y_valid['Survived'], gp_prediction))

              precision    recall  f1-score   support

           0       0.85      0.85      0.85       112
           1       0.75      0.75      0.75        67

    accuracy                           0.81       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179

### Logistic Regression (Soft Classifier)

In [0]:
log_clf = LogisticRegressionCV(cv=5, max_iter=5000)
log_clf.fit(X_train, y_train['Survived'])
log_prediction = log_clf.predict(X_valid)
print(classification_report(y_valid['Survived'], log_prediction))
log_prediction_soft = log_clf.predict_proba(X_valid)

              precision    recall  f1-score   support

           0       0.84      0.84      0.84       112
           1       0.73      0.73      0.73        67

    accuracy                           0.80       179
   macro avg       0.79      0.79      0.79       179
weighted avg       0.80      0.80      0.80       179

### XGBoost Classifier

In [0]:
xg_clf = XGBClassifier()
xg_clf.fit(X_train, y_train['Survived'])
xg_prediction = xg_clf.predict(X_valid)
print(classification_report(y_valid['Survived'], xg_prediction))

              precision    recall  f1-score   support

           0       0.84      0.85      0.84       112
           1       0.74      0.73      0.74        67

    accuracy                           0.80       179
   macro avg       0.79      0.79      0.79       179
weighted avg       0.80      0.80      0.80       179

### Comparison

In [0]:
models = [gnb_clf, knn_clf, log_clf, svc_clf, tree_clf, ada_clf, xg_clf, rf_clf, mlpc_clf, gp_clf]
model_names = ['Gaussian NB', 'KNN', 'Logistic Reg', 'SVC', 'Decision Tree', 'Adaboost', 'XGBoost', 
              'Random Forest', 'MLPC', 'Gaussian Process']
accuracies = [np.round(m.score(X_valid, y_valid), 2) for m in models]
result_df = pd.DataFrame({'Model': model_names, 
                         'Accuracy': accuracies}).set_index('Model').sort_values('Accuracy', ascending=False)

In [0]:
result_df

                  Accuracy
Model
Random Forest         0.82
KNN                   0.81
SVC                   0.81
MLPC                  0.81
Gaussian Process      0.81
Logistic Reg          0.80
Decision Tree         0.80
XGBoost               0.80
Adaboost              0.79
Gaussian NB           0.76

# Create Kaggle Submission file

In [0]:
data_test = pd.read_csv('x_test.csv')
test_ids = pd.read_csv('test.csv')['PassengerId']
prediction = rf_clf.predict(data_test)
submission = pd.DataFrame({'PassengerId': test_ids,
                          'Prediction': prediction})

In [0]:
submission.head()

   PassengerId  Prediction
0          892           0
1          893           0
2          894           0
3          895           0
4          896           1

In [0]:
submission.to_csv('gender_submission.csv', index=False, header=True)

# Save and export the model

In [131]:
from sklearn.externals import joblib

joblib.dump(rf_clf, 'model.pkl')

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

['model.pkl']